<app-notfound *ngIf="notFound"></app-notfound>
<app-error *ngIf="error"></app-error>

<app-breadcrumb *ngIf="book" [book]="book"></app-breadcrumb>

<article *ngIf="book">
  <p>{{ book.title }}</p>
  <p>{{ book.author }}</p>
  <p>{{ book.createdAt }}</p>
  <p>{{ book.description }}</p>
</article>

<nav *ngIf="book && book.notes">
  <ul>
    <li *ngFor="let note of book.notes">
      <a [routerLink]="['/content', book.slug, note.slug]">{{ note.title }}</a>
    </li>
    <li><a [routerLink]="['/content', book.slug, 'oops']">Oops not found</a></li>
  </ul> 
</nav>
